// Specific CSS for your home-page

.div {
  display: flex;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.banner .container h3{
  color: orange;

}
.banner{
  //width: 100%;
}

.card-journey {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 500px;
  height: auto;
  padding: 10px;
  margin: 30px;
  position:relative;
}

.card-journey > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-journey h2 {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
}

.card-journey p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-journey .card-journey-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-journey-infos .card-journey-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.carousel-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.slick-carousel {
  width: 80%;
}

.slick-slide {
  overflow: hidden;
  margin-left: 10px;
}

.backgr img {
  height: 150px;
  width: 150px;
}

.card-journey-infos {
  display: flex;
  flex-direction: column;
}

#card-journey {
padding: 2px;
}

#infos {
  bottom: 10px;
  right: 10px;
  font-size:20px;
  position: absolute;
  transition: 0.25s;
  color:blue;
}

#infos:hover {
  bottom: 10px;
  right: 10px;
  font-size:30px;
  position: absolute;
}

#delete {
  bottom: 35px;
  right: 10px;
  font-size:20px;
  position: absolute;
  transition: 0.25s;
}

#delete:hover {
  bottom: 35px;
  right: 10px;
  font-size:30px;
  position: absolute;
}

#buy {
  bottom: 20px;
  left: 10px;
  font-size:20px;
  position: absolute;
  color: black;
}


.fa-info-circle:before {
  color: blue;
}


