<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<p><%= link_to 'create account', new_driver_registration_path %></p>
<p><%= link_to 'Log out', destroy_driver_session_path, method: :delete %></p>

