<div class="container">

  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.anakinworld.com/uploads/entries/original/chewbacca-b4827de1d704b98f972993a97569bea3ef774cf1.jpeg)">
      <p><%= link_to 'I want to be a Driver', new_driver_registration_path %></p>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.newsapi.com.au/image/v1/4949dbfcc5cffba1f95665b987b8db27?width=650)">
      <p><%= link_to 'I want to be a Passenger', new_passenger_registration_path %></p>
    </div>
</div>
