<div class="create-reservation-form-wrapper">

    <div class="form container">
<% if !current_passenger.nil? %>
  <h1>Make a reservation</h1>
  <%= simple_form_for [@journey, @reservation] do |f| %>
    <%= f.input :amount_of_passengers, label: 'Specify the number of passengers', error: 'The number is mandatory, please specify one' %>
    <%= f.button :submit %>
  <% end %>
<% else %>
<h1>You cannot make a reservation</h1>
<h1>Please login as Passenger</h1>
<% end %>
</div>
</div>
