<h1>Your jouneys</h1>

<ul>
  <% @journeys.each do |journey| %>
    <li>
      <%= journey.departure %> ---> <%= journey.arrival %>
      <%= link_to 'reserve',new_journey_reservation_path(journey) %>
    </li>
  <% end %>
</ul>
