<h1>Your jouneys</h1>

<ul>
  <% @journeys.each do |journey| %>
    <li>
      <p><%= journey.departure %> ---> <%= journey.arrival %> --- <%= journey.available_seats %> seats left</p>
      <%= link_to 'reserve',new_journey_reservation_path(journey) %>
    </li>
  <% end %>
</ul>
